@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fixed-header {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  background-color: rgb(31, 41, 55);
  padding: 13px 27px;
}
.fixed-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.fixed-header__logo {
  color: #fff;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}
.fixed-header__nav-list {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.fixed-header__nav-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}
.fixed-header__nav-item--active {
  position: relative;
}
.fixed-header__nav-link {
  color: #fff;
  text-decoration: none;
}
.fixed-header__auth {
  display: flex;
  gap: 13px;
}
.fixed-header__auth-link {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 8px 22px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}
.fixed-header__auth-link--login {
  color: #fff;
  border: 1px solid #fff;
}
.fixed-header__auth-link--login:hover, .fixed-header__auth-link--login:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.fixed-header__auth-link--register {
  background-color: #fff;
  color: rgb(31, 41, 55);
}
.fixed-header__auth-link--register:hover, .fixed-header__auth-link--register:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.register {
  min-height: 100vh;
  background-color: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 50px 80px;
}
@media (max-width: 991px) {
  .register {
    padding: 0 20px;
  }
}
.register__container {
  border-radius: 8px;
  background-color: #1f2937;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 448px;
  max-width: 100%;
  flex-direction: column;
  overflow: hidden;
  padding: 33px 0;
}
.register__title {
  text-align: center;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
}
.register__form {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .register__form {
    max-width: 100%;
    padding: 0 20px;
  }
}
.register__form-group {
  margin-bottom: 32px;
}
.register__label {
  display: block;
  margin-bottom: 8px;
}
.register__input {
  border-radius: 8px;
  background-color: #374151;
  width: 100%;
  height: 48px;
  border: none;
  padding: 0 16px;
  color: #fff;
}
.register__submit {
  border-radius: 8px;
  background-color: #2563eb;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 18px 45px 21px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register__submit:hover {
  background-color: #1d4ed8;
}
@media (max-width: 991px) {
  .register__submit {
    margin-top: 40px;
    padding: 18px 20px;
  }
}/*# sourceMappingURL=register.css.map */